.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #8800a3;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: #8800a3;
  padding: 5px;
  font-weight:  bolder;
  font-size: 20px;
}

a{
  color: white;
}

.pok {
 display: flex;
  list-style: none;
}

.myList{
  display:inline;
  padding-left:3px;
  padding-right:20px;
}

button {
  margin: 30px;
  padding: 15px;
  background: #8800a3;
  border: 1px solid #2d0036;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 10px 14px -7px black;
}
button:hover {
  cursor: pointer;
  background: #d244ee;
}
